$base: #121212;
$modal: #1F1B24;
$titleBase: #190050;
$toggle: #4200CE;

$titleText: #FFCC71;
$secondaryText: #FFFFFF;
$subtextLight: #B9B9B9;
$subtextDark: #9E9E9E;

$tagBlue: #33658A;
$tagCyan: #00B8D3;
$tagGreen: #37B37F;
$tagOrange: #F26419;
$tagYellow: #F6AE2D;