@use 'variables';

.footer-section {
    background-color: variables.$base;
    height: 100%;
    padding: 0em 8em;
}

.footer-content {
    display: flex;
    padding: 0 10em;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.copy-email {
    background-color: variables.$modal;
    border: 1px solid #583900;
    margin: 2em 0;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
}

.copy-email__text {
    user-select: all;
    color: variables.$secondaryText;
    font-size: 1.1em;
    padding: 0em 1.2em;
}

.copy-email__btn {
    cursor: pointer;
    padding: 0.8em 1.2em;
    background-color: variables.$toggle;   
    color: variables.$secondaryText;
    border: none;
    border-radius: 0.3em;
    font-family: Poppins;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    gap: 0.3em;
    transition: all 0.3s; 
}

.btn--active {
    background-color: #319949;
}

.copy-email__btn:hover {
    filter:brightness(1.1);
}

.copy-email__btn:active {
    filter:brightness(0.9);
}

.copy-email__icon {
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    pointer-events: none;
}

.footer-content__img {
    background-color: #513886;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    height: 15em;
}
