@use 'variables';
@import "title";
@import "projects";
@import "experience";
@import "footer";

body {
    user-select: none;
    font-family: 'Poppins';
    background-color: variables.$base;
    font-size: 1.2vw;
    font-weight: 500;
}

h1 {
    font-size: 6.3em;
    color: variables.$titleText;
}

h2 {
    font-size: 2.9em;
    color: variables.$secondaryText;
    margin-bottom: 0.3em;
}

.h2--section-heading {
    color: variables.$titleText;
}

h3 {
    font-size: 1.6em;
    color: variables.$secondaryText;
}

h4 {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2em;
    color: variables.$secondaryText;
}

/* Project tile description */
.h4--subtext {
    color: variables.$subtextLight;
}

.h4--hyperlink {
    cursor: pointer;
    color: variables.$titleText;
    text-decoration: underline;
}

h5 {
    font-size: 0.9em;
    letter-spacing: 0.06em;
    color: variables.$titleText;
}

/* Timeline tile metadata (COMPANY - LOCATION) */
.h5--subtext {
    color: variables.$subtextDark;
    letter-spacing: 0.03em;
    margin-top: 0.2em;
    margin-bottom: 0.7em;
}

.h5--tag-yellow {
    color: variables.$secondaryText;
    padding: 0.4em 1em;
    border: 2px solid variables.$tagYellow;
    background-color: rgba(variables.$tagYellow, .075);
    border-radius: 1.5em;
}

.h5--tag-orange {
    color: variables.$secondaryText;
    padding: 0.4em 1em;
    border: 2px solid variables.$tagOrange;
    background-color: rgba(variables.$tagOrange, .075);
    border-radius: 1.5em;
}

.h5--tag-blue {
    color: variables.$secondaryText;
    padding: 0.4em 1em;
    border: 2px solid variables.$tagBlue;
    background-color: rgba(variables.$tagBlue, .075);
    border-radius: 1.5em;
}