@use 'variables';

.page-content {
    margin-left: 80px;
    display: flex;
    flex-direction: column;

    .img-banner {
        width: 100%;
        height: 70vh;
        background-color: #1b1725;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }

    .img-banner > img {
        min-height:100%; 
        min-width: 100%; 
        object-fit: cover;
    }

    .img-banner.img-inline {
        height: auto;
        border-radius: 1em;
        margin: 2.5em 0;
    }

    .img-banner.img-inline > img {
        object-fit: scale-down;
    }

    .content-body {
        padding: 5em 8em;
    }
}

.h3--subheading {
    margin-top: 3em;
}

.h5--description.caption {
    line-height: 1.2em;
    margin: -2em 0 0 0;
}

.h5--description.heading {
    margin-top: 3em;
}

.content-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 0px;
}
    
.header__date { 
    grid-area: 1 / 1 / 2 / 4; 
}

.header__location { 
    margin-bottom: 2em;
    text-align: right;
    grid-area: 1 / 4 / 2 / 6; 
}

.header__title { 
    margin-top: 2.5em;
    grid-area: 2 / 1 / 3 / 6;
    
}

.header__description { 
    grid-area: 3 / 1 / 5 / 4; 
    padding-right: 2em;
}

.header__details { 
    grid-area: 3 / 4 / 5 / 6;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: rgba(variables.$modal, 0.5);
    padding: 2em;
    border-radius: 2em;
    justify-content: space-between;
}

.cta-button {
    cursor: pointer;
    justify-self: start;
    padding: 1.2em 1.6em 1.2em 1.2em;
    background-color: variables.$tagYellow;
    border-radius: 2em;
    font-family: Poppins;
    font-size: 0.7em;
    transition: all 0.2s;
}

.cta-button h4 {
    color: variables.$titleBase;
    font-weight: 500;
}

.cta-button:hover {
    background-color: variables.$titleText;
}

.flex-categories {
    display: flex;
    gap: 2em;
    margin: 3em 0 0 0;
}

.flex-categories > img {
    /*why does this work */
    width: 10%;
    border-radius: 1em;
    flex: 1;
}

.flex-categories div, .flex-categories h5 {
    flex: 1;
}

.flex-categories > div > h3 {
    color: variables.$tagYellow;
    margin-bottom: 0.5em;
}

.flex-categories > div > h4 {
    font-size: 1em;
    line-height: 1.5em;
}

.flex-numbered-list {
    background-color: #1f1b2480;
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding: 1em 2em 1em 0;
    margin: 0.5em 5em;
}

.numbered-list--num {
    margin: 0;
    font-size: 2.5em;
    flex-basis: 10%;
    text-align: center;
}

.numbered-list--txt {
    flex-basis: 90%;
}

.problem-statement {
    margin-top: 1em;
    background-color: #3e2e5280;
    margin: 1em 0;
}

.vision-statement {
    background: #4e3fa2;
    margin: 0 0 3em 0;
}

.bullet-list {
    margin: 2em 4em;
}

.text--yellow {
    color: variables.$tagYellow;
}

.text--orange {
    color: variables.$tagOrange;
}

.text--green {
    color: variables.$tagGreen;
}

.text--cyan {
    color: variables.$tagCyan;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4em 4em 4em calc(4em + 80px) ;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 40%;
    max-width: 41%;
    padding: 0 2em;
  }
  
  .column img {
    margin-top: 3em;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }