@use 'variables';

.sidenav {
    position: absolute;
    box-sizing: border-box;
    background-color: variables.$titleBase;
    border-top: 1px solid #472957;
    z-index: 100;

    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
      "nav-icon about-me . linkedin-icon";
    grid-template-columns: 80px 1fr 3fr;
    gap: 40px;
    align-items: center;

    /* Vertical navigation */
    width: 100vh;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotate(90deg);

    .navbar-icon {
        grid-area: nav-icon;
        box-sizing: border-box;
        background-color: #513886;
        width: 80px;
        height: 80px;
    }

    .aboutme-text {
        grid-area: about-me;
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
        color: variables.$titleText;
    }

    .linkedin-icon {
        grid-area: linkedin-icon;
        bottom: 0;
        box-sizing: border-box;
        background-color: #513886;
        width: 80px;
        height: 80px;
    }
}

.title-section {
    margin-left: 80px;
    background-color: variables.$titleBase;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-grid {
    flex: 2;
    margin-left: 30px;
    width: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.img-container { 
  flex: 1;
  height: 80%;
  width: 100%;
  background-color: #513886;
  border-radius: 40px 0px 0px 40px;
}

.type-cursor {
  color: variables.$secondaryText;
  animation: cursor-blink 1s infinite;
  animation-timing-function: ease;
}

@keyframes cursor-blink {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

/* Toggle button for dark/light themes */
.switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 65px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: variables.$toggle;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 55px;
    width: 55px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);

  }
  
  input:checked + .slider {
    background-color: variables.$tagOrange;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(74px);
    -ms-transform: translateX(74px);
    transform: translateX(74px);
  }
  
  .slider.round {
    border-radius: 35px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }